@page
@model QuinonesIPT102Final.Pages.aboutModel
@{
}
<div class="position-absolute top-50 start-50 translate-middle">
    <h1><center>ABOUT</center></h1>
    <h3><center>This project is about the last activity requirement for our subject IPT102</center></h3>
</div>

<div class="position-absolute bottom-0 start-50 translate-middle-x"><a class="btn btn-primary" asp-page="/home">Back</a></div>