@page
@model QuinonesIPT102Final.Pages.helloworldModel
@{
}
<div class="position-absolute top-50 start-50 translate-middle">
    <center>
        <h1>HELLO WORLD</h1>
    </center>
</div>

<div class="position-absolute bottom-0 start-50 translate-middle-x"><a class="btn btn-primary" asp-page="/home">Back</a></div>