@page "/Personal"

<style>
    body {
        background-color: lightblue;
    }
</style>

<img src="/css/Mark.jpg" class="rounded mx-auto d-block" alt="Mark" width="200" height="200">

<h1><center>Personal Information</center></h1>
<div class="container overflow-hidden">
    <div class="row gy-4">
        <div class="col-6">
            <div class="p-3 border bg-light">NAME: Mark Evric T. Quiñones</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">AGE: 21</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">GENDER: Male</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">BHIRTDAY: April 12, 2002</div>
        </div>
    </div>
</div>
<h6></h6>
<div class="d-grid gap-2 col-2 mx-auto">
<a class="btn btn-primary" href="Profile" role="button">Back</a>
</div>