@page "/Profile"

<style>
body {
    background-color: lightblue;
}
</style>

<img src="/css/Mark.jpg" class="rounded mx-auto d-block" alt="Mark" width="200" height="200">
<h6></h6>

<div class="d-grid gap-2 col-2 mx-auto">
<a class="btn btn-primary" href="Contact" role="button">Contact</a>
<a class="btn btn-primary" href="Personal" role="button">Personal</a>
</div>

