@page "/"
@inject IndexDb Contact
<PageTitle>Get Contact</PageTitle>

<style>
    svg {
        height: 23rem;
        margin-right: 4rem;
    }

    #envelope {
        animation: float 2s ease-in-out infinite;
    }

    #star1,
    #star2,
    #star3,
    #star4,
    #star5,
    #star6 {
        animation: blink 1s ease-in-out infinite;
    }

    #star2 {
        animation-delay: 100ms;
    }

    #star3 {
        animation-delay: 500ms;
    }

    #star4 {
        animation-delay: 700ms;
    }

    #star5 {
        animation-delay: 300ms;
    }

    #star6 {
        animation-delay: 200ms;
    }

    .container {
        height: 100vh;
    }

    form {
        min-width: 25rem;
        font-family: 'Pacifico', cursive;
        color: #212529;
        font-size: 2.5rem;
        margin-top: 2rem;
    }
      .form-group {
        margin-bottom: 1rem; 
      }

    .form-control {
        background-color: #f2f6f8;
        border-radius: 2rem;
        border: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
        height: 3.3rem;
        padding: .5rem 3.5rem;
    }

    .focus {
        background-color: #f2f6f8;
        border: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    }

    .message .form-control {
        padding: .5rem 1.8rem;
    }

    ::placeholder {
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        color: #838788;
        position: relative;
        left: 0;
    }

    input,
    textarea {
        font-family: 'Quicksand', sans-serif;
        color: #212529;
        font-size: 1.1rem;
    }

    .icon {
        color: #57565c;
        height: 1.3rem;
        position: absolute;
        left: 1.5rem;
        top: 1.1rem;
    }

    .btn.btn-primary {
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 3rem;
        border: 0;
        border-radius: 3rem;
        background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
        background-size: 300% 100%;
        transition: all 0.3s ease-in-out;
    }

        .btn.btn-primary:hover:enabled {
            box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
            background-size: 100% 100%;
            transform: translateY(-0.15em);
        }
</style>

<form @onsubmit="Create">
    <h1 class="title text-center mb-4">Get Contact</h1>

    <div class="form-group position-relative">
        <label for="formFirstName" >
            <i class="icon" data-feather="user"></i>
        </label>
        <input type="text" id="formFirstName" class="form-control form-control-lg thick" placeholder="FirstName" @bind="GetContact.FirstName">
    </div>

    <div class="form-group position-relative">
        <label for="formLastName" >
            <i class="icon" data-feather="mail"></i>
        </label>
        <input type="text" id="formLastName" class="form-control form-control-lg thick" placeholder="LastName" @bind="GetContact.LastName">
    </div>

    <div class="form-group position-relative">
        <label for="formEmail" >
            <i class="icon" data-feather="mail"></i>
        </label>
        <input type="email" id="formEmail" class="form-control form-control-lg thick" placeholder="E-mail" @bind="GetContact.Email">
    </div>

    <div class="form-group position-relative">
        <label for="formMobileNumber" >
            <i class="icon" data-feather="mail"></i>
        </label>
        <input type="number" id="formMobile" class="form-control form-control-lg thick" placeholder="Mobile Number" @bind="GetContact.MobileNumber">
    </div>
    
    <div class="form-group position-relative">
        <label for="formAddress" >
            <i class="icon" data-feather="mail"></i>
        </label>
        <input type="text" id="formAddress" class="form-control form-control-lg thick" placeholder="Address" @bind="GetContact.PAddress">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary" tabIndex="-1">Save</button>
    </div>
</form>

@code{
    #nullable disable

    private Person GetContact = new Person();


    private void Create()
    {
        Contact.Create(GetContact);
        GetContact = new Person();
    }

 }
